.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    width: 75px;
    height: 45px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(30, 30, 30, 0.3);
    transition: 0.3s all;
}

.logo:hover {
    background-color: rgba(220, 220, 220, 0.3);
}
