.main {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.thumbnail {
    width: 280px;
    height: 180px;
    border-radius: 2vh;
    transition: all 0.3s;
}

.videos {
    position: relative;
    width: 280px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.videos:hover {
    scale: 1.01;
    transform: translateY(-3px);
}

.videoTitle {
    font-weight: 700;
    margin: 10px;
}