.main {
    width: 98%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 2vh;
    aspect-ratio: 16/9;
    transition: all 0.3s;
}

.videos {
    width: 95%;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: auto;
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px;
    text-align: center;
}

.videos img {
    display: block;
}

.videos:hover {
    scale: 1.01;
    transform: translateY(-3px);
}

.videoTitle {
    height: 38px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-flex;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}